.print {
  color: #f7d37c;
}

.print-images {
  display: flex;
  flex-flow: row wrap;
  // align-content: center;
  justify-content: center;
}

.print-small {
  display: flex;
  flex-direction: column;
}

.print-desc {
  border: 1px solid #f7d37c;
  min-width: 300px;
  height: 388px;
}

.print-desc-text {
  padding: 5%;
  display: flex;
  flex-direction: column;

  h3,
  .fa-arrow-right {
    align-self: center;
    margin: .7em;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.responsive {
  width: 100%;
}

.poster {
  max-width: 300px;
  // min-width: 200px;
  margin: 1%;
}

.adWide {
  width: 100%;
  max-width: 400px;
}

.adshort {
  width: 100%;
  max-width: 400px;
  grid-row: span 1;
}
