
.print {
  grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
  grid-template-rows: auto;
  grid-auto-flow: dense;
}

.adLong,
.adWide,
.adshort
  {
    padding: .5em;
    background: #bd8c7d;
    box-shadow: 1px 1px 6px #444444;
    grid-column-gap: 1em;
  }

.adLong {
  grid-row: span 2;
  // grid-column: span 2;
  max-width: 400px;
  width: 100%;
}

.adWide {
  width: 100%;
  max-width: 400px;
}

.adshort {
  width: 100%;
  max-width: 400px;
  grid-row: span 1;
}
