.print {
  color: #f7d37c;
  animation: pageEntry;
  animation-duration: 1s;
}

@keyframes pageEntry {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.print-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.print-desc {
  border: 1px solid #f7d37c;
  min-width: 300px;
  height: 388px;
}

.print-desc-text {
  padding: 5%;
  display: flex;
  flex-direction: column;

  h3,
  .fa-arrow-right {
    align-self: center;
    margin: .7em;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}

.print-desc {
  border: 1px solid #f7d37c;
  min-width: 300px;
  height: 388px;
}

.poster {
  max-width: 300px;
  margin: .5%;
}

.print-desc-short {
  border: 1px solid #f7d37c;
  max-width: 300px;
  // margin: .5%;
  padding-bottom: .5%;
  max-height: 200px;
}

.half-page {
  max-height: 200px;
  margin: .5%;
  height: auto;
}
