$aqua: #85dbc2;
$golden: #e8b866;
$darkgray: #bcbdc0;
$lightgray: #929598;

$base-text-size: 36px;
$base-font-family: 'Raleway', sans-serif;
$base-font-weight: 400;
$sheeraqua: rgba(#85dbc2, 0.8);

// Remove the browsers built-in styling for lists elements.
@mixin reset-list {
  padding-left: 0;

  * {
    list-style: none;
    text-decoration: none;
  }
}

// Apply a height to the html and body elements to that they
// fill the height of the view by default.
@mixin full-height {
  height: 100%;

  body,
  #root {
    min-height: 100%;
  }
}
