
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 15px 0;
  animation: slideIn 1s linear;

  p {
    margin: 5px;
    margin-left: 7px;
    font-size: 1.5em;
    flex: 1;
    text-align: left;
    font-family: $heading-font-fam;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }

  .glasses {
    height: 26px;
    width: 60px;
    box-sizing: 5px 5px white;
  }

  .TIY {
    height: 60px;
    width: 60px;
  }

  .light {
    height: 68px;
    width: 60px;
  }
}

.mypics {
  display: none;
}

@media screen and (min-width: 768px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mypics {
    display: flex;
    align-self: center;
  }

  .aboutMe {
    flex-direction: column;
    position: relative;
    top: 10px;
    height: 300px;
    animation: slideIn 1s linear;

    .subAbout {
      display: flex;
      width: 600px;
    }

    p {
      text-align: left;
      font-size: 1.2em;
      align-self: flex-end;
    }
  }
}
