
.aboutMe {
  display: grid;
  grid-template-columns: (1fr 1fr 1fr);
}
.bigger {
  font-weight: 600;
  font-size: 1.1em;
}

p {
  margin: 5px;
  margin-left: 7px;
  font-size: 1.2em;
  text-align: left;
  font-family: $heading-font-fam;
}

.devicon {
  font-size: 2em;
  margin: 2px;
}

@media screen and (min-width: 768px) {
  .aboutContainer {
    display: grid;
  }

  .deviconContainer {
    width: 75px;
    height: 75px;
    border: $greenDotBorder;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
  }

  .devicon {
    font-size: 1em;
    margin: 2px;
  }

  p {
    text-align: left;
    font-size: 1.3em;
    align-self: flex-end;
  }
}
