
.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(55, 29, 74, 0.7);
  margin: 30px 0;
  box-shadow: 2px 4px 2px rgb(55, 29, 74);
  animation: slideIn 1s linear;

  .deviconContainer {
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }

  .bigger {
    font-weight: 600;
    font-size: 1.1em;
  }

  .devicon {
    font-size: 2em;
  }

  p {
    margin: 5px;
    margin-left: 7px;
    font-size: 1.5em;
    flex: 1;
    text-align: left;
    font-family: $heading-font-fam;
  }

  img {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
}

.mypics {
  display: none;
}

@media screen and (min-width: 768px) {
  .aboutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mypics {
    display: flex;
    align-self: center;
    box-shadow: 2px 4px 2px rgb(55, 29, 74);
  }

  .aboutMe {
    flex-direction: column;
    position: relative;
    top: 10px;
    height: 300px;
    animation: slideIn 1s linear;

    .subAbout {
      display: flex;
      width: 600px;
    }

    p {
      text-align: left;
      font-size: 1.3em;
      align-self: flex-end;
    }
  }
}
