.contactWrapper {
  display: flex;
  flex-direction: column;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;
  position: fixed;
  bottom: 15%;
}

.me22017 {
  width: 100%;
  max-width: 268px;
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 268px;
  align-self: center;
  background-color: #393f4d;

  h2 {
    margin: 0;
  }

  .cardName {
    font-size: 2em;
    padding: 5px;
  }

  .card {
    margin-top: 10px;
    // background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid $golden;
    padding: 7px;

    a:any-link {
      text-decoration: none;
      color: $golden;
    }
  }

  .smLinks {
    display: flex;
    padding: 5px;

    @include reset-list;

    justify-content: space-around;

    a:link,
    a:visited,
    a:active,
    a:hover,
    a:visited {
      color: $golden;
    }
  }
}

@media screen and (min-width: 768px) {
  .contactWrapper {
    flex-direction: row;
  }

  .me22017 {
    max-width: 200px;
    box-shadow: 2px 4px 4px rgb(29, 30, 34);
  }

  .contact {
    height: 200px;
  }
}
