.contactWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 15%;

  @include animation;
}

.me22017 {
  width: 100%;
  max-width: 325px;
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 325px;
  align-self: center;
  background-color: #393f4d;

  .cardName {
    font-size: 2em;
    padding: 5px;
  }

  .card {
    margin-top: 10px;
    border-bottom: 1px solid $golden;
    padding: 7px;
    font-size: 1.2em;
  }

  .smLinks {
    display: flex;
    padding: 5px;

    @include reset-list;

    justify-content: space-around;

    a:link,
    a:visited,
    a:active,
    a:hover,
    a:visited {
      color: $golden;
    }
  }
}

@media screen and (min-width: 768px) {
  .contactWrapper {
    flex-direction: row;
  }

  .me22017 {
    max-width: 225px;
    box-shadow: 2px 4px 4px rgb(29, 30, 34);
  }

  .contact {
    height: 225px;
  }
}
