.introContainer {
  display: grid;
  grid-template-areas:
    "space1 space1 space1"
    "space intro space"
    "space space space";
}

h2.hello {
  font-size: 5em;
  line-height: 2em;
  text-align: center;
  text-shadow: 2px 4px 2px rgb(29, 30, 34);

  @include animation;
}

.introBox {
  grid-area: intro;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include animation;

  img {
    border-radius: 50%;
    border: $goldBorder;
    max-width: 125px;
    margin: 15px;
  }

  .introText {
    @include flex-column;
  }

  h1 {
    align-self: center;
    border-bottom: $goldBorder;
    padding-bottom: 10px;
    color: white;
  }

  p {
    text-align: center;
    margin: 15px;
    color: white;
    font-size: 1.4em;
  }

  .deviconContainer {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin: 15px;
  }

  i.devicon {
    font-size: 1.8em;
  }
}

@media screen and (min-width: 768px) {

}
