
nav {
  background: $sexygrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 2;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  font-family: $heading-font-fam;
  box-shadow: 2px 2px #353535;
  transition: right  0.3s ease-in;
  background-image: url('/images/footer_lodyas.png');
}

nav.show {
  right: 0;
}

ul.navLinks {
  list-style-type: none;
}

li.navBtn {
  padding: 5px 0;
  transition: 0.5s;

  a {
    font-weight: 100;
    font-size: 30px;
  }
}

ul ul {
  list-style-type: none;
}

a:link,
a:visited,
a:active {
  color: $golden;
}

a:hover {
  color: #bd8c7d;
  font-weight: 100;
  transition: all 0.4s ease;
}

.contact {
  padding-inline-start: 20px;
  padding-inline-end: 20px;

    h2 {
    font-family: 'Rochester', cursive;
    text-align: left;
    padding: 0;
  }
}

.card {
  margin-top: 10px;
  border-bottom: 1px solid $golden;
  padding: 7px 0;
  font-size: 1.2em;
}

.smLinks {
  display: flex;
  padding: 5px;

  @include reset-list;

  justify-content: space-around;
}
