.navLinks {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  z-index: 1;

  .navBtn {
    flex: 0 1 auto;
    width: 100%;
    height: 30px;
    border: 1px solid darken($golden, 30%);
    font-size: 1.5em;
    margin: 5px 0;
    padding: 0;
    font-weight: 500;
    text-align: center;
    transition: 0.5s;
  }

  .navBtn:hover {
    transform: scale(1);
    background-color: $golden;
    border: none;

    a {
      color: darken($aqua, 60%);
    }
  }

  a {
    color: darken($golden, 20%);
    text-decoration: none;
    text-align: center;
  }
}
