@media screen and (max-width: 767px) {
  .navLinks {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navLinks {
    display: flex;
    align-self: center;
    justify-content: space-around;
    position: fixed;
    width: 700px;
    top: 0;
    border-bottom: 1px solid darken($golden, 10%);
    padding-left: 0;
    margin: 30px auto;
    list-style: none;
    z-index: 1;

    li.navBtn {
      flex: 0 1 auto;
      height: 30px;
      font-size: 1.5em;
      margin: 5px 0;
      padding: 0;
      font-weight: 400;
      text-align: center;
      transition: 0.5s;
    }

    .navBtn:hover {
      transform: scale(1);
      background-color: $golden;
      border: none;

      a {
        color: darken($aqua, 60%);
      }
    }

    a {
      color: white;
      text-decoration: none;
      text-align: center;
      width: 150px;
    }
  }

  .decor {
    font-size: 2em;
    color: $golden;
    text-shadow: 1px 1px $golden;
  }
  .diamonds {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 30px;
  }
}
