@media screen and (min-width: 481px) {
  ul.navLinks {
    flex-direction: row;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    margin: -10px -5px 0 -5px;
    // border-bottom: $goldBorder;

    li.navBtn {
      width: 100px;
      border: none;
      margin-right: 0;

      a {
        color: darken($golden, 2%);
      }
    }
  }

  div.introBox {
    margin-top: 300px;
  }

  section.aboutMe {
    flex-direction: row;
    position: relative;
    top: 300px;
    width: 100%;
    margin: 0;
    animation: slideIn 1s linear;

    p {
      text-align: left;
      font-size: 1em;
    }
  }

  .myWork {
    flex-direction: row;
    height: 300px;
    margin: 0;
  }

  .workee {
    width: 25%;
    flex-direction: row;
  }
}
