@media screen and (min-width: 481px) {
  div.introBox {
    margin-top: 300px;
  }

  .pHeader {
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  footer {
    display: none;
    background-color: transparent;
    max-width: 1400px;
  }

  //projects
  .myWork {
    max-width: 1000px;
    display: flex;
  }

  .webContainer {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
  }
}
