.resume {
  width: 100%;
  max-width: 900px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-wrap: wrap;
  background-color: #ffe8e0;

  @include animation;

  .experience,
  .skillsEducation {
    width: 90%;
    margin: 1em auto;
  }

  li {
    line-height: 1.5em;
  }

  * {
    color: #7A716D;
  }

  h4 {
    margin: .5em 0;
  }

  h3,
  h4,
  h5 {
    color: #333;
    font-size: 1.4em;
  }

  h3 {
    margin-bottom: .5em;
    padding-bottom: 0;
    border-bottom: 12px solid #7A716D;
    font-family: $heading-font-fam;
  }

  .sedu {
    font-family: 'Rochester', cursive;
    border-bottom: 3px solid #7A716D;
  }

  .headline {
    font-size: 2.5em;
    font-weight: 100;
    font-family: $heading-font-fam;
  }
}

ul.bullets {
  margin-top: 2px;
  // padding-left: 10px;
  font-size: 1.1em;
  font-family: $heading-font-fam;
  // padding-inline-start: 20px;
}

.skillset {
  display: flex;
  flex-wrap: wrap;
}

.skills {
  line-height: 1.4em;
  list-style-type: none;
  padding-inline-start: 0;
  width: 150px;
  margin: 0 1em;
}

.placeDate {
  // margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;

  span {
    display: block;
    margin: 2px 0;
  }

  .place {
    font-weight: bold;
  }

  .date {

  }
}


@media screen and (min-width: 800px) {
  .resume {
    flex-direction: row;
    margin-top: 50px;

    .experience {
      width: 55%;
      margin: 2.5em auto;
    }

    .skillsEducation {
      width: 30%;
      margin: 2.5em auto;
    }
  }

  .skillset {
    flex-direction: column;
  }

  .placeDate {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Josefin Sans', sans-serif;
 }
}
