.resume {
  max-width: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px;
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-iteration-count: 1;

  a {
    color: rgb(127, 236, 172);
    font-style: italic;

  }
  li,
  p,
  span {
    color: black;
  }
  h2,
  h3,
  h4,
  h5 {
    color: black;
    font-weight: 600;
    font-size: 1.2em;
  }

  h3 {
    padding-top: 30px;
  }

  h3.exp {
    width: 400px;
    border-bottom: 1px solid $golden;
  }

  h3.sedu {
    width: 250px;
    border-bottom: 1px solid $golden;
  }

  h3.addExp {
    width: 600px;
    border-bottom: 1px solid $golden;
  }

  h4 {
    margin: 5px 0;
  }

  h5 {
    margin: 5px 0;
    font-style: italic;
  }

  .resDecor {
    color: $golden;
  }

  .asa {
    font-family: $body-font-fam;
    font-style: italic;
    font-size: 0.9em;
  }
}

.experience {
  max-width: 450px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

ul.bullets {
  margin-top: 2px;
  padding-left: 10px;
  font-size: 0.9em;
}

.skillsEducation {
  width: 300px;
  margin-left: 20px;
}

.skills {
  line-height: 1.4em;
}

.skillset {
  width: 250px;
}

.placeDate {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

.experience .placeDate {
  width: 400px;
}

.skillsEducation .placeDate {
  width: 275px;
}

.edu {
  margin-bottom: 20px;
}

.otherExp {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.mgtJobs {
  width: 400px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 481px) {
  .diamonds,
  ul.bullets,
  .asa,
  .otherExp {
    display: none;
  }

  .resume {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  .experience h3.exp {
    width: 300px;
  }

  .h3.exp,
  .experience,
  .experience .placeDate,
  .addExp {
    width: 310px;
  }
}
