@import 'utility';
@import 'matteFinish';
@import 'pagebreaks';
@import 'resume';
@import 'about';
@import 'nav';
@import 'intro';
@import 'footer';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600');


h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-fam;
  color: white;
}

html {
  @include full-height;

  font-family: $body-font-fam;
  font-size: $base-text-size;
}

.App {
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.pHeader {
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: $golden;
  animation: slideIn 1s linear;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  margin: 5px 20px;

  h2 {
    margin: 0;
    align-self: center;
    color: black;
  }

  p {
    width: 300px;
    align-self: center;
    margin: 5px;
    margin-left: 10px;
    font-size: 1.1em;
    font-weight: 300;
    text-align: left;
    color: black;
  }

  ul.myWork {
    list-style: none;
  }

  .project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid $golden;
    // margin-left: 2px;
    padding: 15px;
  }

  .Kapture {
    width: 200px;
    height: 200px;
    margin: 5px;
  }
}

.contactWrapper {
  display: flex;
  flex-direction: row;
}

.me22017 {
  width: 300px;
  height: 450px;
  align-self: center;
}
.contact {
  // position: fixed;
  // left: 20%;
  // top: 50%;
  width: 268px;
  height: 430px;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  // margin: 10px;
  // box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  animation: slideIn 1s linear;

  h2 {
    color: $golden;
    margin: 0;
  }

  .cardName {
    font-size: 2em;
    border-bottom: 1px solid $golden;
  }

  .card {
    margin-top: 10px;
    color: $golden;

    a {
      color: $golden;
    }
  }
}
