@import 'utility';
@import 'toggleButton', 'nav';
@import '../components/menu/menu';
@import '../components/intro/intro';
@import '../components/about/about';
@import '../components/print/print.scss';
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,600');
@import url('https://fonts.googleapis.com/css?family=Rochester&display=swap');

html {
  height: 100vh;
  font-family: $body-font-fam;
  background-color: #333;
  font-size: 15px;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 1.5em;
}

body {
  margin: 0;
  height: 100%;
  // background-color: green;
}

.App {
  @include flex-column;
  position: relative;
  min-height: 100%;
}

.dark-gray-bg {
  display: flex;
  flex-direction: column;
  background-image: url('/images/footer_lodyas.png');
  background-repeat: repeat;
  min-height: 100vh;
  margin-top: 0;
}

// design pages - may delete
h2.top-title {
  text-align: center;
  padding: 0.5em;
  margin-top: 3em;
  font-family: 'Rochester', cursive;
  color: $golden;
}
// not sure I need this amymore
//
.grid-container {
  display: grid;
  padding: 1em;
  justify-content: center;
  height: 100%;
  grid-gap: .5em 1.5em;
  width: 95%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading-font-fam;
  // color: $golden;
}

a:any-link {
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .dark-gray-bg {
    margin-top: 50px;
  }
}

//not using this right now
// .item-icons {
//   margin: 10px;
//   display: grid;
//   grid-template-columns: 40px 40px;
//
//   a {
//     text-align: left;
//   }
// }
//
// a.blank {
//   display: none;
// }
//
// a.globe,
// a.git {
//   color: #393f4d;
//   font-size: 30px;
// }
//
// a.git::before {
//   font-family: 'FontAwesome';
//   content: "\f092";
// }
//
// a.globe::before {
//   font-family: 'FontAwesome';
//   content: "\f0ac";
// }
