
h3,
h4,
h5 {
  color: white;
  font-weight: 600;
  font-size: 1.2em;
}

.topMar60 {
  margin-top: 60px;
}

a.pic1 {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1px;
}

.pHeader {
  width: 100%;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: rgba(0, 0, 0, 0.5);

  h2 {
    width: 80%;
    margin: 7px 10%;
    border-bottom: 1px solid $golden;
  }

  p {
    width: 80%;
    margin: 0;
    align-self: center;
    font-family: $heading-font-fam;
    font-size: 1.3em;
    font-weight: 400;
    text-align: left;
  }
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 300px;
  margin: 5px 20px;

  ul.myWork {
    list-style: none;
    display: flex;
    flex-direction: column;

    li.work {
      width: 300px;
      height: 250px;
      align-self: center;
    }
  }

  .project {
    display: flex;
    width: 270px;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
  }

  .github {
    align-items: flex-end;
    margin: 2px;
  }

  .Kapture {
    width: 200px;
    height: 200px;
    margin: 5px;
    box-shadow: $box-shadow;
  }
}

.WebWork {
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
  }
}

.webContainer {
  list-style: none;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.webEx {
  width: 250px;
  padding: 10px;

  img {
    width: 250px;
  }
}

@media screen and (min-width: 768px) {
  .projects ul.myWork {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .WebWork {
    margin-left: 10px;
  }

  .webContainer {
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
