.five {
  margin-top: 15px;
  width: 0;
  height: 0;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
  border-bottom: solid 35px yellow;
  transform: rotateZ(35deg);
  animation-duration: 7s;
}

.five::before {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top: -27px;
  left: -35px;
  border-left: solid 15px transparent;
  border-right: solid 15px transparent;
  border-bottom: solid 40px yellow;
  transform: rotateZ(-35deg);
}

.five::after {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 0;
  top: 3px;
  left: -53px;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
  border-bottom: solid 33px yellow;
  transform: rotateZ(-70deg);
}

.heart {
  position: relative;
  // margin: 20px;
  width: 100px;
}

.heart::before,
.heart::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 80px;
  // top: 5px;
  background: red;
  border-radius: 50px 50px 0 0;
}

.heart::before {
  left: 50px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.triContainer {
  display: flex;
  flex-direction: column;
}

.topTriangles {
  display: flex;
}

.bottomTriangles {
  display: flex;
}

.one {
  width: 0;
  height: 0;
  border-right: solid 25px transparent;
  border-left: solid 25px transparent;
  border-bottom: solid 35px #64b5f6;
  animation-duration: 1s;
}

.two {
  margin-left: -25px;
  width: 0;
  height: 0;
  border-right: solid 25px transparent;
  border-left: solid 25px transparent;
  border-top: solid 35px #2196f3;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

.three {
  margin-left: -25px;
  width: 0;
  height: 0;
  border-left: solid 25px transparent;
  border-right: solid 25px transparent;
  border-bottom: solid 35px #1976d2;
  animation-duration: 2s;
  animation-delay: 1s;
}

.four {
  width: 0;
  height: 0;
  border-top: solid 50px #2196f3;
  border-left: solid 50px transparent;
  border-right: solid 50px transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 1;
  }
}
