

.pens {
  // display: flex;
  margin: 0 auto;
  // justify-content: center;
  // height: 500px;
  width: 80%;
  max-width: 600px;
  // align-items: center;
  // background: #bd8c7d;
}

li.pen {
  margin-bottom: 10px;
  list-style-type: none;
}
.codepen {

  // height: 265px;
  // width: 600px;
  // box-sizing: border-box;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // border: 2px solid;
  // margin: 1em 0;
  // padding: 1em;
}
