
.email-width {
  max-width: 375px;
  padding: 1em;
  background: #bd8c7d;
}

 .emails {
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  // grid-template-rows: auto;
  grid-auto-flow: dense;
}
